/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* box icons */
@import url("https://unpkg.com/boxicons@latest/css/boxicons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #191919;
  --second-bg-color: #070707;
  --main-color: #0b997f;
  --text-color: #ededed;
  --second-color: #ededed;
  /* --other-color: #c6c9d8bf; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background: transparent;
  padding: 2rem 10%;
  border-bottom: 0.1rem solid transparent;
  transition: allase 0.5s;
}

.navbar {
  display: flex;
  list-style-type: none;
}

.navbar a {
  color: var(--second-color);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 3.5rem;
  transition: color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
